.row
  .col-md-4
    %h2 Welcome to Larp Library

    %p
      Larp Library is an online repository of free-to-run live action roleplaying games.  All larps in the library are
      freely licensed for anyone to download, read, run, and play.  You can
      = succeed "." do
        = link_to "browse or search our library of games here", projects_path

    %p
      If you're a larp creator and are interested in sharing your work, you can
      = link_to "sign up here", new_brand_path
      and get your own brand page, from which you can publish all your projects.

    %p
      Larp Library is a project of
      = succeed "," do
        = link_to "New England Interactive Literature", "http://interactiveliterature.org"
      the same organization that runs the New England Intercon conventions and NELCO and publishes Game Wrap.

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h2{style: "margin: 0"} Featured larps

      %ul.list-group
        - @project_promotions.each do |project_promotion|
          %li.list-group-item
            = render 'projects/project_headers', project: project_promotion.project, title_tag: "h4", metadata_class: "text-muted", hide_authors: true, hide_brand_and_year: true
        %li.list-group-item
          %h4
            = link_to "Browse all larps", projects_path

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h2{style: "margin: 0"} Browse by tag

      %ul.list-group
        - @tags_by_category.keys.sort_by { |category| [category ? 0 : 1, category.try(:name)] }.each do |category|
          - tags = @tags_by_category[category]
          %li.list-group-item
            %h4{style: "margin-top: 0"}
              - if category
                = category.name
              - else
                Miscellaneous

            %ul.list-unstyled
              - tags.each do |tag|
                %li{style: "margin-bottom: 8px"}
                  = render tag, href: projects_path(tag: tag.name)
                  %small{style: "margin-left: 1em"} (#{pluralize tag.projects.size, "project"})
