- brand_name = brand_membership.brand.name

%h1 Welcome to Larp Library!

%p
  Larp Library is a site for larp authors to publish their work under free-to-use
  licenses.  
  - if @inviting_user
    #{@inviting_user.name} has invited you to join #{brand_name} on Larp 
    Library.
  - else
    You've been invited to join #{brand_name} on Larp Library.

%p
  This membership allows you to:

%ul
  %li Publish larps as #{brand_name}
  %li Edit existing #{brand_name} larps
  - if brand_membership.admin?
    %li Add and remove members from #{brand_name}
    %li Edit the public description and branding for #{brand_name}
  