= form_for [@brand, @project] do |f|
  = errors_for f.object

  .mb-3
    = f.label :title, class: 'form-label'
    = f.text_field :title, class: 'form-control'

  .mb-3
    = f.label :authors, class: 'form-label'
    = f.text_field :authors, class: 'form-control'

  .mb-3
    = f.label :publication_year, class: 'form-label'
    = f.number_field :publication_year, class: 'form-control'

  .mb-3
    = f.label :tags, class: 'form-label'
    = tag_selector_input f.object.tags

  .mb-3
    = f.label :description, class: 'form-label' do
      Description
      %small (Markdown allowed)
    = react_component 'MarkdownEditorInput', name: 'project[description]', id: 'project_description', initialValue: f.object.description

  .row
    .col-sm-6.col-md-4.col-lg-3
      .mb-3
        = f.label :min_players, "Minimum player count", class: 'form-label'
        = f.number_field :min_players, class: 'form-control'

    .col-sm-6.col-md-4.col-lg-3
      .mb-3
        = f.label :max_players, "Maximum player count", class: 'form-label'
        = f.number_field :max_players, class: 'form-control'

    .col-md-4.col-lg-6

  .row
    .col-xs-6.col-md-4.col-lg-3
      .mb-3
        = f.label :length_quantity, "Game length", class: 'form-label'
        = f.number_field :length_quantity, class: 'form-control'

    .col-xs-6.col-md-4.col-lg-3
      .mb-3
        = f.label :length_units, "Length units"
        = f.select :length_units, [["minute(s)", "minutes"], ["hour(s)", "hours"], ["day(s)", "days"]], {}, class: 'form-control'

    .col-md-4.col-lg-6

  .mb-3
    = f.label :license, class: 'form-label'
    = f.select :license, license_options, {}, class: 'form-control'

  = f.submit class: 'btn btn-primary'
