= form_for @project do |f|
  = errors_for f.object

  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  
  .form-group
    = f.label :authors
    = f.text_field :authors, class: 'form-control'
    
  .form-group
    = f.label :tags
    = f.select :tag_names, f.object.tag_names, {}, class: 'form-control tag-selector', multiple: true
    
  .form-group
    = f.label :description do
      Description
      %small (Markdown allowed)
    = f.text_area :description, class: 'form-control ace-editor', style: 'height: 6em;', rows: 6
    
  .form-group
    = f.label :license
    = f.select :license, Project::LICENSES.map { |key, license| [license[:name], key] }, {}, class: 'form-control'
  
  = f.submit class: 'btn btn-default'