.panel.panel-default
  .panel-heading
    - if can? :edit, project
      .pull-right
        = link_to "Admin", project, class: "btn btn-default"
      
    %h2{style: "margin: 0"}= project.title
    
    - if project.authors.present?
      %p{style: "margin: 0"}
        %em By #{project.authors}
  .panel-body    
    .row
      .col-md-8
        = truncate_html markdown(project.description), length: 500, omission: "... ".html_safe + link_to("(read more)", "#", class: "expand")
      .col-md-4
        %ul.project-files.list-unstyled
          = render project.project_files