.panel.panel-default
  .panel-heading
    - if can? :edit, project
      .pull-right
        = link_to "Admin", project, class: "btn btn-default"
      
    %h2{style: "margin: 0"}
      = link_to project.title, project, class: 'link-unstyled'
    
    %ul.list-unstyled{style: 'margin: 0'}
      = render 'project_headers', project: project
      - if project.license_object
        %li
          %strong Licensing:
          = project.license_object.name
      
  .panel-body    
    .row
      .col-md-8
        = truncate_html markdown(project.description), length: 500, omission: "... ".html_safe + link_to("(read more)", project, class: "expand")
      .col-md-4
        %ul.project-files.list-unstyled
          = render project.project_files