%h2{style: "margin: 0"}
  = link_to project.title, [project.brand, project], class: 'link-unstyled'
  - parenthesized = [project.publication_year, project.brand && link_to(project.brand.name, project.brand, class: 'link-unstyled')].compact
  - if parenthesized.present?
    %small (#{safe_join parenthesized, ", "})

%ul.list-unstyled{style: 'margin: 0'}
  - if project.authors.present?
    %li
      %em By #{project.authors}

  - if project.min_players || project.max_players || (project.length_quantity && project.length_units)
    %li
      %ul.list-inline
        - if project.min_players || project.max_players
          %li
            %i.fa.fa-users
            = [project.min_players, project.max_players].uniq.compact.join(" - ")
            - if (project.max_players || project.min_players) == 1
              player
            - else
              players
        - if project.length_quantity && project.length_units
          %li
            %i.fa.fa-clock-o
            = pluralize project.length_quantity, project.length_units

  - if project.tag_names.any?
    %li
      %ul.list-inline{style: "margin-left: 0"}
        - project.tag_names.sort.each do |tag_name|
          %li.label.label-default= tag_name

