- title_tag ||= "h2"
- metadata_class ||= ""
- hide_brand_and_year ||= false
- hide_authors ||= false

= content_tag title_tag, style: "margin: 0" do
  = link_to project.title, "/brands/#{project.brand.to_param}/projects/#{project.to_param}", class: 'link-unstyled'
  - unless hide_brand_and_year
    - parenthesized = [project.publication_year, project.brand && link_to(project.brand.name, project.brand, class: 'link-unstyled')].compact
    - if parenthesized.present?
      %small (#{safe_join parenthesized, ", "})

%ul{style: 'margin: 0', class: "list-unstyled #{metadata_class}"}
  - if project.authors.present? && !hide_authors
    %li
      %em By #{project.authors}

  - if project.min_players || project.max_players || (project.length_quantity && project.length_units)
    %li
      %ul.list-inline
        - if project.min_players || project.max_players
          %li.list-inline-item
            %i.fa.fa-users
            = [project.min_players, project.max_players].uniq.compact.join(" - ")
            - if (project.max_players || project.min_players) == 1
              player
            - else
              players
        - if project.length_quantity && project.length_units
          %li.list-inline-item
            %i.fa.fa-clock-o
            = pluralize project.length_quantity, project.length_units

  - if project.tag_names.any?
    %li
      %ul.list-inline
        - project.tags.sort_by { |t| t.name.downcase }.each do |tag|
          = render tag, href: projects_path(tag: tag.name)

