.media
  .media-body
    %h1 Alleged Entertainment Library
  .media-right.media-bottom{style: "min-width: 150px; width: 33%"}
    = form_tag projects_path, method: 'GET', class: 'form' do
      .form-group.has-feedback
        = text_field_tag 'q', params[:q], class: 'form-control', placeholder: "Search"
        %i.fa.fa-search.form-control-feedback

= render partial: @projects.order(:title)
= will_paginate @projects, renderer: BootstrapPagination::Rails

- if can? :create, Project
  %p
    = link_to "New project", new_project_path, class: "btn btn-default"