.row
  .col-md-8  
    %h1= @project.title

    = render 'project_headers', project: @project

    = markdown @project.description
    
    - if can? :edit, @project
      = link_to "Edit project", [:edit, @project], class: "btn btn-default"

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h2{style: "margin: 0"} Files
      .panel-body
        %ul.project-files.list-unstyled
          = render @project.project_files
        
        - if can? :edit, @project
          = s3_uploader_form callback_url: url_for([@project, :project_files]), callback_param: "project[content_url]", id: "s3-uploader" do
            %label{for: "file"} Upload files
            = file_field_tag :file, multiple: true

          %script#template-upload{type: "text/x-tmpl"}
            .upload{id: "file-{%=o.unique_id%}"}
              {%=o.name%}
              .progress
                .bar{style: "width: 0%"}
  