.row
  .col-md-8
    %p
      = render 'project_headers', project: @project

    = markdown @project.description

    %ul.list-inline
      - if can? :edit, @project
        %li.list-inline-item= link_to "Edit project", [:edit, @brand, @project], class: "btn btn-primary"
      - if can? :delete, @project
        %li.list-inline-item= link_to "Delete project", [@brand, @project], method: "delete", class: "btn btn-link text-danger", "data-confirm" => "Are you sure you want to completely remove #{@project.title}?"

  .col-md-4
    .card
      .card-header
        %h2.m-0 Downloads
      .card-body
        .mb-4
          = react_component "ProjectFilesSection",
              awsAccessKeyId: ENV['AWS_ACCESS_KEY_ID'],
              signerURL: url_for([:auth_upload, @brand, @project, :project_files]),
              bucket: (ENV['AWS_S3_BUCKET'] || "larp-library-#{Rails.env}"),
              nonce: SecureRandom.hex,
              completeCallbackURL: url_for([@brand, @project, :project_files]),
              csrfToken: form_authenticity_token,
              canUpload: can?(:edit, @project),
              canDelete: can?(:delete, ProjectFile.new(project: @project)),
              initialFiles: @project.project_files.as_json,
              projectURL: url_for([@brand, @project])

        - license = @project.license_object
        - if license
          - dedication = capture do
            - if license[:dedication_html]
              =raw license[:dedication_html]
            - else
              This work is licensed under a
              = succeed '.' do
                %a{rel: "license", href: license.url}= license.name
                license

          - if license.logo_url
            .media
              .media-left.media-middle
                %a{rel: "license", href: license.url}
                  %img{alt: license.name, style: "border-width:0", src: license.logo_url}
              .media-body= dedication
          - else
            = dedication
