.row
  .col-md-8  
    %h1= @project.title

    %ul.list-unstyled{style: 'margin-top: 0'}
      = render 'project_headers', project: @project

    = markdown @project.description
    
    - if can? :edit, @project
      = link_to "Edit project", [:edit, @project], class: "btn btn-default"

  .col-md-4
    .panel.panel-default
      .panel-heading
        %h2{style: "margin: 0"} Files
      .panel-body
        %ul.project-files.list-unstyled
          = render @project.project_files
        
        - if can? :edit, @project
          = s3_uploader_form callback_url: url_for([@project, :project_files]), callback_param: "project[content_url]", id: "s3-uploader" do
            %label{for: "file"} Upload files
            = file_field_tag :file, multiple: true

          %script#template-upload{type: "text/x-tmpl"}
            .upload{id: "file-{%=o.unique_id%}"}
              {%=o.name%}
              .progress
                .bar{style: "width: 0%"}
    
    - license = @project.license_object
    - if license
      .panel.panel-default
        .panel-heading
          %h2{style: "margin: 0"} Licensing
        .panel-body
          - dedication = capture do
            - if license[:dedication_html]
              =raw license[:dedication_html]
            - else
              This work is licensed under a
              = succeed '.' do
                %a{rel: "license", href: license.url}= license.name
                license
        
          - if license.logo_url
            .media
              .media-left.media-middle
                %a{rel: "license", href: license.url}
                  %img{alt: license.name, style: "border-width:0", src: license.logo_url}
              .media-body= dedication
          - else
            = dedication