%h1 Project promotions

= form_for :project_promotion do |f|
  %table.table
    %thead
      %tr
        %th Name
        %th Promotion started
        %th
    %tbody
      - @project_promotions.each do |project_promotion|
        %tr
          %td= project_promotion.project.title
          %td= project_promotion.created_at.to_s(:short)
          %td
            = link_to "Delete", project_promotion, class: "btn btn-danger", method: "DELETE", "data-confirm" => "Are you sure you want to stop promoting #{project_promotion.project.title}?"
      %tr
        %td= f.collection_select :project_id, Project.order(:title), :id, :title, {}, placeholder: "Promote a project", class: "form-control"
        %td{colspan: 2}= f.submit "Promote", class: "btn btn-primary"
