- if can? :edit, @brand
  .pull-right
    = link_to "Admin", [:edit, @brand], class: "btn btn-default"
- if can? :create, @brand.projects.new
  .pull-right
    = link_to "New project", new_brand_project_path(@brand), class: "btn btn-default"
    
%h1= @brand.name

- if @brand.description.present?
  = markdown @brand.description
  
= render partial: @projects
= will_paginate @projects, renderer: BootstrapPagination::Rails

- if can? :create, @brand.projects.new
  %p
    = link_to "New project", new_brand_project_path(@brand), class: "btn btn-default"