.d-flex
  .flex-grow-1
    %h1= @brand.name
  %div
    - if can? :create, @brand.projects.new
      = link_to "New project", new_brand_project_path(@brand), class: "btn btn-success ms-2"
    - if can? :edit, @brand
      = link_to "Admin", [:edit, @brand], class: "btn btn-outline-secondary ms-2"

- if @brand.description.present?
  = markdown @brand.description

= render partial: @projects
= will_paginate @projects, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

- if can? :create, @brand.projects.new
  %p
    = link_to "New project", new_brand_project_path(@brand), class: "btn btn-success"
