!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}/
    %title Larp Library
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      %nav#topbar
        %ul#mainnav
          %li.col-md-4.col-sm-6.topbar-brand{style: "text-align: center;"}
            = link_to "Larp Library", root_path
          %li.col-md-8.col-sm-6
            %ul#globalnav
              %li= link_to "Larps", projects_path
              %li= link_to "Creators", brands_path
              %li= link_to "Publish your larp", new_brand_path
              %li
                - if user_signed_in?
                  = link_to "Sign out", destroy_user_session_path, method: "delete"
                - else
                  = link_to "Sign in", new_user_session_path

        
      - if notice.present?
        .alert.alert-success.alert-dismissible{role: "alert"}
          %button.close{type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times;
          = notice
      - if alert.present?
        .alert.alert-danger.alert-dismissible{role: "alert"}
          %button.close{type: "button", "data-dismiss" => "alert", "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times;
          = alert

      = yield

      %nav
        %ul.list-inline{style: 'text-align: center'}
          %li
            %small 
              Larp Library &copy; 2015
              = link_to 'New England Interactive Literature', 'http://interactiveliterature.org'
          %li &mdash;
          %li= link_to "About us", page_path('about')
          %li= link_to "Licensing", page_path('licensing')