!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"}/
    %title Larp Library
    = stylesheet_bundle_tag 'application'
    = javascript_bundle_tag 'application'
    = csrf_meta_tags
  %body
    .container
      %nav#topbar
        %ul#mainnav
          %li.col-md-4.col-sm-6.topbar-brand{style: "text-align: center;"}
            = link_to "Larp Library", root_path
          %li.col-md-8.col-sm-6
            %ul#globalnav
              %li= link_to "Larps", '/projects'
              %li= link_to "Creators", '/brands'
              - if current_user.try(:admin?)
                %li.dropdown
                  %a.dropdown-toggle{href: "#", "data-bs-toggle" => "dropdown", role: "button", "aria-haspopup" => true, "aria-expanded" => false}
                    Admin
                    %span.caret
                  %ul.dropdown-menu
                    - if can? :create, ProjectPromotion
                      %li= link_to "Promotions", '/project_promotions', class: 'dropdown-item'
                    - if can? :update, Tag
                      %li= link_to "Tags", tags_path, class: 'dropdown-item'
                    - if can? :update, TagCategory
                      %li= link_to "Tag Categories", tag_categories_path, class: 'dropdown-item'
              %li= link_to "Publish your larp", '/brands/new'
              %li
                - if user_signed_in?
                  = link_to "Sign out", destroy_user_session_path, method: "delete"
                - else
                  = link_to "Sign in", new_user_session_path


      - if notice.present?
        .alert.alert-success.alert-dismissible{role: "alert"}
          %button.close{type: "button", "data-bs-dismiss" => "alert", "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times;
          = notice
      - if alert.present?
        .alert.alert-danger.alert-dismissible{role: "alert"}
          %button.close{type: "button", "data-bs-dismiss" => "alert", "aria-label" => "Close"}
            %span{"aria-hidden" => "true"} &times;
          = alert

      = yield

      %nav
        %ul.list-inline{style: 'text-align: center'}
          %li.list-inline-item
            %small
              Larp Library &copy; 2015-#{Time.now.year}
              = link_to 'New England Interactive Literature', 'http://interactiveliterature.org'
          %li.list-inline-item &mdash;
          %li.list-inline-item= link_to "About us", page_path('about')
          %li.list-inline-item= link_to "Licensing", page_path('licensing')
